@mixin grid ($col,$row,$areas,$gap,$padding) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  grid-template-areas: $areas;
  gap: $gap;
  padding: $padding;
}

.articulo {
  width: 70%;
  margin: auto;
  height: 50%;
  flex-direction: row;
  justify-content: center;
  display: flex;
  gap: 20px;
  align-items: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item {
  text-align: center;
}

.item img {
  width: 200%;
  height: 100%;
}

.item h3 {
  max-height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.6;
  margin-top: 10px;
}



  /*GRID*/
  .grid-conteiner {
      display: grid;
      grid-template-columns: repeat(3, 500px);
      grid-template-rows: repeat(2, 500px);
      grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6";
      gap: 100px;
      padding: 5%;
    }
    
    .item1 {
      grid-area: item1;
    }
    
    .item2 {
      grid-area: item2;
    }
    
    .item3 {
      grid-area: item3;
    }
    
    .item4 {
      grid-area: item4;
    }
    
    .item5 {
      grid-area: item5;
    }
    
    .item6 {
      grid-area: item6;
    }
    
    .item img {
      width: 20%;
    }
    
    .item p {
      margin-top: 10px;
    }
     