.section-principal {
    width: 100%;
    height: 700px;
    background-image: url("../assets/portada.jpg");
    background-size: cover;
  }
  .text-principal {
    color: #8c6ba1;
    padding: 20%;
    text-align: left;
  }
  
  .belleza-tittle {
    text-align: center;
    margin: 25px;
  }
  