@media (max-width: 320px) {
    body{
        overflow-x: hidden;
    }
    .grid {
        display: block;
    }
    img{
        vertical-align: inherit;
        width: 100%;
    }
    
    .grid-conteiner {
        grid-template-columns: repeat(1, 100%);
        gap: 10px;
        padding: 0;
    }
    .item {
        width: 100%;
        }
        .img-animacion{
            width: 80%;
        }
        .img{
            width: 100%;
        }
    .parrafo{
        display: flex;
        background-color: #F5CDC0;
        width: 100%;
        height: 20%;
        text-align: center;
        margin: auto;
        font-style: italic;
    }
    .subtitulo-liderazgo{
        text-align: center;
        padding-bottom: 5%;
        margin: 10%;
    }
    .h3, h3{
            font-size:medium;
            text-align: center;
            margin: 10%;
    }
    .contenedor .parrafo-empresaria{
        display: flex;
        height: 1200px;
        margin: 3rem auto;
        width: auto;
        font-style: oblique;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .text-footer{
        font-size: 180%;
    }
    }
