@media (max-width: 320px) {
    .grid {
        display: block;
    }
    
    .item {
        width: 100%;
        }
        .img-animacion{
            width: 80%;
        }
        .img{
            width: 100%;
        }
    }
 