@media (max-width:768px){
    .header-moda{
        flex-direction: row;
        justify-content: space-around;
    }
    .grid{
            display: grid;
            grid-template-columns:repeat(1, 1fr);
            gap: 20px;
            padding: 20px;
            
    }
    
    .img-animacion{
        width: 100%;
    }
    .parrafo{
        display: flex;
        width: 90%;
        text-align: center;
        margin: auto;
        font-style: italic;
    }
}