@media (max-width: 1440px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 465px);
        grid-template-areas:
            "item1 item2 item3"
            "item4 item5 item6";
        gap: 5%;
        padding: 5%;
        margin-bottom: 10%;
    }
    .img-animacion{
        overflow: hidden;
    }
    .img-animacion img{
        transition: transform 0.3s;
    }
    .img-animacion:hover img {
        transform: scale(1.1);
    }
    p{
        margin-top: 0;
        text-align: center;
    }
    
    .container-cards, .card.card-custom, .element.style {
        width: 18rem;
    }
}
        

